#box{
	height: 10vw;
	width: 10vw;
	background-color: #ac00eb;
	cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box p {
    font-size: 1.7vw;
    color: white;
}
body{
    background-color: black;
}